html, body {
  height: 100%;
  padding: 0;
  margin: 0 auto;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  display: flex;
  background-color: black;
  color: #ddd;
  line-height: 130%;
  background-image: url(game-level.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

/* p { */
/*   margin: 3em 0; */
/* } */

h1, h2 {
  margin: 0.5em 0;
  line-height: 100%;
}

a { color: #aaa; }

#left { width: 50%; }

.subtitle { color: #DB926B; }

h1 {
  font-size: 60px;
  font-weight: normal;
  margin-top: 0;
}

#right {
  overflow-y: auto;
  width: 50%;
  padding: 80px;
  box-sizing: border-box;
  background-color: rgba(0,0,0, 0.75)
}

tab {
  text-indent: 40px;
}

.icon {
  width: 140px;
  height: 140px;
  margin-right: 40px;
  border-radius: 20px;
}

section, .app, #links {
  margin-bottom: 50px;
  clear: both;
  max-width: 600px;
}

.app {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.app h2 {
  margin: 0.3em 0;
}


.description { color: #aaa; }

ul { padding-left: 0; }

li {
  list-style-type: none;
  margin: 10px 0;
}


/* Styles for narrow screens, like phones and small tablets. */

@media only screen and (max-device-width: 780px) {
  #left {
    display:none;
  }
  #right {
    width: 100%;
    padding: 20px;
  }
  section, .app {
    max-width: inherit;
  }
  .icon {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }
}
